*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
  .image{
  	background-color: white;
  	height: 100vh;
    background-size: cover;
    background-position: center;  
}
.navbar{
     height: 80px;
     width: 100%;
     background: rgba(0,0,0,0.4);
}
.logo {
      width: 140px;
      height: 55px;
      padding: -30px 100px;
      margin-top: 10px;
      margin-left: 20px;

}
    .navbar ul{
      float: right;
      margin-top: 15px;
}
     .navbar ul li{
         list-style: none;
         margin: 0 8px;
         display: inline-block;
         line-height: 80px;
}
    .navbar ul li a{
       text-decoration: none;
       color: white;
       font-size: 20px;
       padding: 6px 13px;
       font-family: 'Roboto',sans-serif;
       transition: .4s;
}
    .navbar ul li a.active,
    .navbar ul li a:hover{
       background: red;
       border-radius: 2px;

       
}

.title h1{
text-align: center;
font-size: 50px;
margin-top: 25px;
font-weight: bold;
}

.iconbar{
       margin-top: 1%;
       margin-bottom: 4%;
}
    .icon{
       width: 97%;
color: #f44336;
       cursor: pointer;
text-align:right;
       font-size: 35px;
       margin-top: -25px;
}
 .iconbar h3{
    text-align: left;
    color:#f44336; ;
    padding-top:-50px;
    font-size: 25px;
    margin-top: 30px;
}